GOOGLE_APPLICATION_CREDENTIALS_BASE64=
FIRESTORE_PROJECT_ID=
ASPNETCORE_LOGGING__CONSOLE__DISABLECOLORS=true
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=https://+:443;http://+:80
DOTNET_USE_POLLING_FILE_WATCHER=1
NUGET_PACKAGES=/root/.nuget/fallbackpackages2
NUGET_FALLBACK_PACKAGES=/root/.nuget/fallbackpackages;/root/.nuget/fallbackpackages2
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
DOTNET_RUNNING_IN_CONTAINER=true
DOTNET_VERSION=6.0.15
ASPNET_VERSION=6.0.15